@model IEnumerable<ControleAtividades.Models.Atividade_mdl>
@{
    ViewBag.Title = "Atividades Acadêmicas";
}

<div class="jumbotron">
    <h2>Controle suas atividades Aqui</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Atividades Acadêmicas</h2>    
    </div>
</div>
<div class="row"><div class="col-md-2"> <p>@Html.ActionLink("Criar Atividade", "AdicionaAtividade")</p></div> </div>   

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><h3>Atividade</h3></div>
        <div class="col-md-3"><h3>Descrição</h3></div>
        <div class="col-md-2"><h3>Data de Entrega</h3></div>
        <div class="col-md-2"><h3>Status</h3></div>
        <div class="col-md-2"></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">@Html.DisplayFor(modelitem => item.tipoAtividade)</div>
            <div class="col-md-3">@Html.DisplayFor(modelitem => item.descricao)</div>
            <div class="col-md-2">@Html.DisplayFor(modelitem => item.dataEntrega)</div>
            <div class="col-md-2">@Html.DisplayFor(modelitem => item.status)</div>
            <div class="col-md-2">@Html.ActionLink("Alterar", "Edit", new {}) | @Html.ActionLink("Apagar", "DeletaUsuario", new {  })</div>
        </div>
    }
